<!-- <div style="color: rgb(0, 0, 0);width: 100%;">
    <p>{{todo}}</p>
    <table style="width: 100%;">

        <tr style="font-size: 2rem">
            <th>S.No</th>
            <th>Task</th>
            <th>Status</th>

        </tr>
        <tr class="dataCss" *ngFor="let item of todoList;let index=index">
            <td class="mappedData">{{index+1}}</td>
            <td class="mappedData">{{item.do}}</td>
            <td class="mappedData" (click)="handleEdit(index)">{{item.isDone?"ToDo &#9998;":"Done"}}</td>

            <td class="mappedData" [ngStyle]="item.isDone?{}:{'color':'green','font-size':'2.5rem'}">
                <p *ngIf="item.isDone;else elseBlock">&#10060;</p>
                <ng-template #elseBlock>
                    &#10004;
                </ng-template>
                 {{item.isDone? &#10004; :&#10060;}} 
</td>




</tr>

</table>


</div> -->